{
  "ownerDomain": "google.com",
  "version": "v1",
  "mtlsRootUrl": "https://apigeeregistry.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "description": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "instances": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances",
                  "parameters": {
                    "instanceId": {
                      "description": "Required. Identifier to assign to the Instance. Must be unique within scope of the parent resource.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource of the Instance, of the form: `projects/*/locations/*`"
                    }
                  },
                  "id": "apigeeregistry.projects.locations.instances.create",
                  "request": {
                    "$ref": "Instance"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Provisions instance resources for the Registry.",
                  "path": "v1/{+parent}/instances"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Instance to delete. Format: `projects/*/locations/*/instances/*`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes the Registry instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apigeeregistry.projects.locations.instances.delete",
                  "path": "v1/{+name}"
                },
                "testIamPermissions": {
                  "parameters": {
                    "resource": {
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:testIamPermissions",
                  "id": "apigeeregistry.projects.locations.instances.testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "apigeeregistry.projects.locations.instances.setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Instance"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "apigeeregistry.projects.locations.instances.get",
                  "path": "v1/{+name}",
                  "description": "Gets details of a single Instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Instance to retrieve. Format: `projects/*/locations/*/instances/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "getIamPolicy": {
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "httpMethod": "GET",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    },
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "apigeeregistry.projects.locations.instances.getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:getIamPolicy"
                }
              }
            },
            "apis": {
              "resources": {
                "deployments": {
                  "resources": {
                    "artifacts": {
                      "methods": {
                        "replaceArtifact": {
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PUT",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}/artifacts/{artifactsId}",
                          "response": {
                            "$ref": "Artifact"
                          },
                          "path": "v1/{+name}",
                          "request": {
                            "$ref": "Artifact"
                          },
                          "description": "Used to replace a specified artifact.",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+/artifacts/[^/]+$",
                              "location": "path",
                              "description": "Resource name.",
                              "type": "string",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apigeeregistry.projects.locations.apis.deployments.artifacts.replaceArtifact"
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Artifact"
                          },
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}/artifacts/{artifactsId}",
                          "id": "apigeeregistry.projects.locations.apis.deployments.artifacts.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+/artifacts/[^/]+$",
                              "description": "Required. The name of the artifact to retrieve. Format: `{parent}/artifacts/*`"
                            }
                          },
                          "description": "Returns a specified artifact.",
                          "path": "v1/{+name}"
                        },
                        "list": {
                          "response": {
                            "$ref": "ListArtifactsResponse"
                          },
                          "path": "v1/{+parent}/artifacts",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}/artifacts",
                          "id": "apigeeregistry.projects.locations.apis.deployments.artifacts.list",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The parent, which owns this collection of artifacts. Format: `{parent}`"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "An expression that can be used to filter the list. Filters use the Common Expression Language and can refer to all message fields except contents."
                            },
                            "orderBy": {
                              "type": "string",
                              "description": "A comma-separated list of fields, e.g. \"foo,bar\" Fields can be sorted in descending order using the \"desc\" identifier, e.g. \"foo desc,bar\"",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of artifacts to return. The service may return fewer than this value. If unspecified, at most 50 values will be returned. The maximum is 1000; values above 1000 will be coerced to 1000."
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A page token, received from a previous `ListArtifacts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListArtifacts` must match the call that provided the page token.",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns matching artifacts."
                        },
                        "create": {
                          "id": "apigeeregistry.projects.locations.apis.deployments.artifacts.create",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent, which owns this collection of artifacts. Format: `{parent}`",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$"
                            },
                            "artifactId": {
                              "type": "string",
                              "description": "Required. The ID to use for the artifact, which will become the final component of the artifact's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. Following AIP-162, IDs must not have the form of a UUID.",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a specified artifact.",
                          "request": {
                            "$ref": "Artifact"
                          },
                          "response": {
                            "$ref": "Artifact"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/artifacts",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}/artifacts",
                          "httpMethod": "POST"
                        },
                        "delete": {
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "Required. The name of the artifact to delete. Format: `{parent}/artifacts/*`",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+/artifacts/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apigeeregistry.projects.locations.apis.deployments.artifacts.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Empty"
                          },
                          "path": "v1/{+name}",
                          "description": "Removes a specified artifact.",
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}/artifacts/{artifactsId}"
                        },
                        "getContents": {
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the artifact whose contents should be retrieved. Format: `{parent}/artifacts/*`",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+/artifacts/[^/]+$",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apigeeregistry.projects.locations.apis.deployments.artifacts.getContents",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}:getContents",
                          "description": "Returns the contents of a specified artifact. If artifacts are stored with GZip compression, the default behavior is to return the artifact uncompressed (the mime_type response field indicates the exact format returned).",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}/artifacts/{artifactsId}:getContents"
                        }
                      }
                    }
                  },
                  "methods": {
                    "tagRevision": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigeeregistry.projects.locations.apis.deployments.tagRevision",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Adds a tag to a specified revision of a deployment.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the deployment to be tagged, including the revision ID.",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}:tagRevision",
                      "path": "v1/{+name}:tagRevision",
                      "response": {
                        "$ref": "ApiDeployment"
                      },
                      "request": {
                        "$ref": "TagApiDeploymentRevisionRequest"
                      }
                    },
                    "create": {
                      "description": "Creates a specified deployment.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+$",
                          "description": "Required. The parent, which owns this collection of deployments. Format: `projects/*/locations/*/apis/*`",
                          "required": true
                        },
                        "apiDeploymentId": {
                          "description": "Required. The ID to use for the deployment, which will become the final component of the deployment's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. Following AIP-162, IDs must not have the form of a UUID.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments",
                      "path": "v1/{+parent}/deployments",
                      "response": {
                        "$ref": "ApiDeployment"
                      },
                      "httpMethod": "POST",
                      "id": "apigeeregistry.projects.locations.apis.deployments.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "ApiDeployment"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "deleteRevision": {
                      "response": {
                        "$ref": "ApiDeployment"
                      },
                      "description": "Deletes a revision of a deployment.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the deployment revision to be deleted, with a revision ID explicitly included. Example: `projects/sample/locations/global/apis/petstore/deployments/prod@c7cfa2a8`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}:deleteRevision",
                      "path": "v1/{+name}:deleteRevision",
                      "id": "apigeeregistry.projects.locations.apis.deployments.deleteRevision"
                    },
                    "listRevisions": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}:listRevisions",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The page token, received from a previous ListApiDeploymentRevisions call. Provide this to retrieve the subsequent page."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of revisions to return per page.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$",
                          "description": "Required. The name of the deployment to list revisions for.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Lists all revisions of a deployment. Revisions are returned in descending order of revision creation time.",
                      "httpMethod": "GET",
                      "path": "v1/{+name}:listRevisions",
                      "response": {
                        "$ref": "ListApiDeploymentRevisionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigeeregistry.projects.locations.apis.deployments.listRevisions"
                    },
                    "setIamPolicy": {
                      "httpMethod": "POST",
                      "path": "v1/{+resource}:setIamPolicy",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "id": "apigeeregistry.projects.locations.apis.deployments.setIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "rollback": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "RollbackApiDeploymentRequest"
                      },
                      "id": "apigeeregistry.projects.locations.apis.deployments.rollback",
                      "description": "Sets the current revision to a specified prior revision. Note that this creates a new revision with a new revision ID.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The deployment being rolled back.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}:rollback",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ApiDeployment"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:rollback"
                    },
                    "getIamPolicy": {
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}:getIamPolicy",
                      "path": "v1/{+resource}:getIamPolicy",
                      "parameters": {
                        "options.requestedPolicyVersion": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        },
                        "resource": {
                          "required": true,
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "apigeeregistry.projects.locations.apis.deployments.getIamPolicy"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "ApiDeployment"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}",
                      "parameters": {
                        "allowMissing": {
                          "location": "query",
                          "description": "If set to true, and the deployment is not found, a new deployment will be created. In this situation, `update_mask` is ignored.",
                          "type": "boolean"
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Resource name.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "The list of fields to be updated. If omitted, all fields are updated that are set in the request message (fields set to default values are ignored). If an asterisk \"*\" is specified, all fields are updated, including fields that are unspecified/default in the request.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ApiDeployment"
                      },
                      "id": "apigeeregistry.projects.locations.apis.deployments.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Used to modify a specified deployment.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the deployment to delete. Format: `projects/*/locations/*/apis/*/deployments/*`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$",
                          "type": "string"
                        },
                        "force": {
                          "description": "If set to true, any child resources will also be deleted. (Otherwise, the request will only work if there are no child resources.)",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "httpMethod": "DELETE",
                      "id": "apigeeregistry.projects.locations.apis.deployments.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Removes a specified deployment, all revisions, and all child resources (e.g., artifacts).",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Returns a specified deployment.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$",
                          "description": "Required. The name of the deployment to retrieve. Format: `projects/*/locations/*/apis/*/deployments/*`"
                        }
                      },
                      "response": {
                        "$ref": "ApiDeployment"
                      },
                      "id": "apigeeregistry.projects.locations.apis.deployments.get",
                      "httpMethod": "GET"
                    },
                    "testIamPermissions": {
                      "id": "apigeeregistry.projects.locations.apis.deployments.testIamPermissions",
                      "path": "v1/{+resource}:testIamPermissions",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments/{deploymentsId}:testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/deployments/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/deployments",
                      "id": "apigeeregistry.projects.locations.apis.deployments.list",
                      "description": "Returns matching deployments.",
                      "response": {
                        "$ref": "ListApiDeploymentsResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/deployments",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent, which owns this collection of deployments. Format: `projects/*/locations/*/apis/*`"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListApiDeployments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiDeployments` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "An expression that can be used to filter the list. Filters use the Common Expression Language and can refer to all message fields."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of deployments to return. The service may return fewer than this value. If unspecified, at most 50 values will be returned. The maximum is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "orderBy": {
                          "description": "A comma-separated list of fields, e.g. \"foo,bar\" Fields can be sorted in descending order using the \"desc\" identifier, e.g. \"foo desc,bar\"",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    }
                  }
                },
                "versions": {
                  "resources": {
                    "specs": {
                      "resources": {
                        "artifacts": {
                          "methods": {
                            "replaceArtifact": {
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v1/{+name}",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}/artifacts/{artifactsId}",
                              "description": "Used to replace a specified artifact.",
                              "request": {
                                "$ref": "Artifact"
                              },
                              "id": "apigeeregistry.projects.locations.apis.versions.specs.artifacts.replaceArtifact",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "PUT",
                              "response": {
                                "$ref": "Artifact"
                              },
                              "parameters": {
                                "name": {
                                  "description": "Resource name.",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+/artifacts/[^/]+$",
                                  "location": "path"
                                }
                              }
                            },
                            "getContents": {
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+/artifacts/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "description": "Required. The name of the artifact whose contents should be retrieved. Format: `{parent}/artifacts/*`"
                                }
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "GET",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}/artifacts/{artifactsId}:getContents",
                              "description": "Returns the contents of a specified artifact. If artifacts are stored with GZip compression, the default behavior is to return the artifact uncompressed (the mime_type response field indicates the exact format returned).",
                              "id": "apigeeregistry.projects.locations.apis.versions.specs.artifacts.getContents",
                              "path": "v1/{+name}:getContents",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              }
                            },
                            "setIamPolicy": {
                              "httpMethod": "POST",
                              "path": "v1/{+resource}:setIamPolicy",
                              "id": "apigeeregistry.projects.locations.apis.versions.specs.artifacts.setIamPolicy",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "resource"
                              ],
                              "parameters": {
                                "resource": {
                                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+/artifacts/[^/]+$"
                                }
                              },
                              "response": {
                                "$ref": "Policy"
                              },
                              "request": {
                                "$ref": "SetIamPolicyRequest"
                              },
                              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}/artifacts/{artifactsId}:setIamPolicy"
                            },
                            "create": {
                              "response": {
                                "$ref": "Artifact"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "httpMethod": "POST",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}/artifacts",
                              "description": "Creates a specified artifact.",
                              "parameters": {
                                "artifactId": {
                                  "location": "query",
                                  "description": "Required. The ID to use for the artifact, which will become the final component of the artifact's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. Following AIP-162, IDs must not have the form of a UUID.",
                                  "type": "string"
                                },
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                                  "description": "Required. The parent, which owns this collection of artifacts. Format: `{parent}`",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "request": {
                                "$ref": "Artifact"
                              },
                              "path": "v1/{+parent}/artifacts",
                              "id": "apigeeregistry.projects.locations.apis.versions.specs.artifacts.create",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "list": {
                              "parameters": {
                                "orderBy": {
                                  "type": "string",
                                  "description": "A comma-separated list of fields, e.g. \"foo,bar\" Fields can be sorted in descending order using the \"desc\" identifier, e.g. \"foo desc,bar\"",
                                  "location": "query"
                                },
                                "parent": {
                                  "description": "Required. The parent, which owns this collection of artifacts. Format: `{parent}`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                                  "type": "string",
                                  "required": true,
                                  "location": "path"
                                },
                                "filter": {
                                  "type": "string",
                                  "description": "An expression that can be used to filter the list. Filters use the Common Expression Language and can refer to all message fields except contents.",
                                  "location": "query"
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "A page token, received from a previous `ListArtifacts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListArtifacts` must match the call that provided the page token."
                                },
                                "pageSize": {
                                  "location": "query",
                                  "format": "int32",
                                  "description": "The maximum number of artifacts to return. The service may return fewer than this value. If unspecified, at most 50 values will be returned. The maximum is 1000; values above 1000 will be coerced to 1000.",
                                  "type": "integer"
                                }
                              },
                              "id": "apigeeregistry.projects.locations.apis.versions.specs.artifacts.list",
                              "path": "v1/{+parent}/artifacts",
                              "response": {
                                "$ref": "ListArtifactsResponse"
                              },
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "parent"
                              ],
                              "description": "Returns matching artifacts.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}/artifacts"
                            },
                            "get": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "apigeeregistry.projects.locations.apis.versions.specs.artifacts.get",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}/artifacts/{artifactsId}",
                              "path": "v1/{+name}",
                              "description": "Returns a specified artifact.",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "Artifact"
                              },
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "Required. The name of the artifact to retrieve. Format: `{parent}/artifacts/*`",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+/artifacts/[^/]+$"
                                }
                              },
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "testIamPermissions": {
                              "request": {
                                "$ref": "TestIamPermissionsRequest"
                              },
                              "httpMethod": "POST",
                              "id": "apigeeregistry.projects.locations.apis.versions.specs.artifacts.testIamPermissions",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}/artifacts/{artifactsId}:testIamPermissions",
                              "path": "v1/{+resource}:testIamPermissions",
                              "parameterOrder": [
                                "resource"
                              ],
                              "parameters": {
                                "resource": {
                                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+/artifacts/[^/]+$",
                                  "type": "string"
                                }
                              },
                              "response": {
                                "$ref": "TestIamPermissionsResponse"
                              },
                              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "getIamPolicy": {
                              "parameters": {
                                "options.requestedPolicyVersion": {
                                  "format": "int32",
                                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                                  "location": "query",
                                  "type": "integer"
                                },
                                "resource": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+/artifacts/[^/]+$",
                                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                                  "type": "string",
                                  "location": "path"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}/artifacts/{artifactsId}:getIamPolicy",
                              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                              "parameterOrder": [
                                "resource"
                              ],
                              "path": "v1/{+resource}:getIamPolicy",
                              "id": "apigeeregistry.projects.locations.apis.versions.specs.artifacts.getIamPolicy",
                              "response": {
                                "$ref": "Policy"
                              },
                              "httpMethod": "GET"
                            },
                            "delete": {
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}/artifacts/{artifactsId}",
                              "description": "Removes a specified artifact.",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "DELETE",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "apigeeregistry.projects.locations.apis.versions.specs.artifacts.delete",
                              "path": "v1/{+name}",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+/artifacts/[^/]+$",
                                  "description": "Required. The name of the artifact to delete. Format: `{parent}/artifacts/*`"
                                }
                              },
                              "response": {
                                "$ref": "Empty"
                              }
                            }
                          }
                        }
                      },
                      "methods": {
                        "getContents": {
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. The name of the spec whose contents should be retrieved. Format: `projects/*/locations/*/apis/*/versions/*/specs/*`",
                              "type": "string"
                            }
                          },
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.getContents",
                          "path": "v1/{+name}:getContents",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:getContents",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Returns the contents of a specified spec. If specs are stored with GZip compression, the default behavior is to return the spec uncompressed (the mime_type response field indicates the exact format returned).",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "setIamPolicy": {
                          "response": {
                            "$ref": "Policy"
                          },
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "resource": {
                              "required": true,
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+resource}:setIamPolicy",
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.setIamPolicy",
                          "parameterOrder": [
                            "resource"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:setIamPolicy"
                        },
                        "listRevisions": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:listRevisions",
                          "description": "Lists all revisions of a spec. Revisions are returned in descending order of revision creation time.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of revisions to return per page."
                            },
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "description": "Required. The name of the spec to list revisions for.",
                              "location": "path"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The page token, received from a previous ListApiSpecRevisions call. Provide this to retrieve the subsequent page.",
                              "type": "string"
                            }
                          },
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.listRevisions",
                          "response": {
                            "$ref": "ListApiSpecRevisionsResponse"
                          },
                          "path": "v1/{+name}:listRevisions"
                        },
                        "deleteRevision": {
                          "response": {
                            "$ref": "ApiSpec"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:deleteRevision",
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.deleteRevision",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "description": "Required. The name of the spec revision to be deleted, with a revision ID explicitly included. Example: `projects/sample/locations/global/apis/petstore/versions/1.0.0/specs/openapi@c7cfa2a8`",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}:deleteRevision",
                          "description": "Deletes a revision of a spec.",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "testIamPermissions": {
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:testIamPermissions",
                          "path": "v1/{+resource}:testIamPermissions",
                          "parameterOrder": [
                            "resource"
                          ],
                          "parameters": {
                            "resource": {
                              "location": "path",
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.testIamPermissions",
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the spec to retrieve. Format: `projects/*/locations/*/apis/*/versions/*/specs/*`",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}",
                          "description": "Returns a specified spec.",
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.get",
                          "response": {
                            "$ref": "ApiSpec"
                          }
                        },
                        "getIamPolicy": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "resource": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "required": true
                            },
                            "options.requestedPolicyVersion": {
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                              "format": "int32"
                            }
                          },
                          "path": "v1/{+resource}:getIamPolicy",
                          "parameterOrder": [
                            "resource"
                          ],
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.getIamPolicy",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Policy"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:getIamPolicy",
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                        },
                        "tagRevision": {
                          "description": "Adds a tag to a specified revision of a spec.",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the spec to be tagged, including the revision ID.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:tagRevision",
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.tagRevision",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "TagApiSpecRevisionRequest"
                          },
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "ApiSpec"
                          },
                          "path": "v1/{+name}:tagRevision"
                        },
                        "patch": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ApiSpec"
                          },
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "ApiSpec"
                          },
                          "description": "Used to modify a specified spec.",
                          "parameters": {
                            "allowMissing": {
                              "type": "boolean",
                              "description": "If set to true, and the spec is not found, a new spec will be created. In this situation, `update_mask` is ignored.",
                              "location": "query"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "description": "The list of fields to be updated. If omitted, all fields are updated that are set in the request message (fields set to default values are ignored). If an asterisk \"*\" is specified, all fields are updated, including fields that are unspecified/default in the request.",
                              "location": "query",
                              "type": "string"
                            },
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "description": "Resource name.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}"
                        },
                        "create": {
                          "request": {
                            "$ref": "ApiSpec"
                          },
                          "path": "v1/{+parent}/specs",
                          "response": {
                            "$ref": "ApiSpec"
                          },
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "apiSpecId": {
                              "type": "string",
                              "location": "query",
                              "description": "Required. The ID to use for the spec, which will become the final component of the spec's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. Following AIP-162, IDs must not have the form of a UUID."
                            },
                            "parent": {
                              "description": "Required. The parent, which owns this collection of specs. Format: `projects/*/locations/*/apis/*/versions/*`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "description": "Creates a specified spec.",
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.create",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Returns matching specs.",
                          "path": "v1/{+parent}/specs",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListApiSpecsResponse"
                          },
                          "parameters": {
                            "filter": {
                              "description": "An expression that can be used to filter the list. Filters use the Common Expression Language and can refer to all message fields except contents.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "description": "Required. The parent, which owns this collection of specs. Format: `projects/*/locations/*/apis/*/versions/*`",
                              "required": true,
                              "location": "path"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "type": "integer",
                              "description": "The maximum number of specs to return. The service may return fewer than this value. If unspecified, at most 50 values will be returned. The maximum is 1000; values above 1000 will be coerced to 1000."
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListApiSpecs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiSpecs` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "orderBy": {
                              "description": "A comma-separated list of fields, e.g. \"foo,bar\" Fields can be sorted in descending order using the \"desc\" identifier, e.g. \"foo desc,bar\"",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.list"
                        },
                        "rollback": {
                          "path": "v1/{+name}:rollback",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "Required. The spec being rolled back.",
                              "location": "path"
                            }
                          },
                          "description": "Sets the current revision to a specified prior revision. Note that this creates a new revision with a new revision ID.",
                          "response": {
                            "$ref": "ApiSpec"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:rollback",
                          "request": {
                            "$ref": "RollbackApiSpecRequest"
                          },
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.rollback",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST"
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "Empty"
                          },
                          "id": "apigeeregistry.projects.locations.apis.versions.specs.delete",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Removes a specified spec, all revisions, and all child resources (e.g., artifacts).",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. The name of the spec to delete. Format: `projects/*/locations/*/apis/*/versions/*/specs/*`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$"
                            },
                            "force": {
                              "location": "query",
                              "description": "If set to true, any child resources will also be deleted. (Otherwise, the request will only work if there are no child resources.)",
                              "type": "boolean"
                            }
                          },
                          "httpMethod": "DELETE"
                        }
                      }
                    },
                    "artifacts": {
                      "methods": {
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "Artifact"
                          },
                          "id": "apigeeregistry.projects.locations.apis.versions.artifacts.create",
                          "description": "Creates a specified artifact.",
                          "response": {
                            "$ref": "Artifact"
                          },
                          "parameters": {
                            "artifactId": {
                              "type": "string",
                              "description": "Required. The ID to use for the artifact, which will become the final component of the artifact's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. Following AIP-162, IDs must not have the form of a UUID.",
                              "location": "query"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. The parent, which owns this collection of artifacts. Format: `{parent}`"
                            }
                          },
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/artifacts",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/artifacts"
                        },
                        "delete": {
                          "id": "apigeeregistry.projects.locations.apis.versions.artifacts.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Empty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/artifacts/{artifactsId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/artifacts/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. The name of the artifact to delete. Format: `{parent}/artifacts/*`"
                            }
                          },
                          "path": "v1/{+name}",
                          "description": "Removes a specified artifact.",
                          "httpMethod": "DELETE"
                        },
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/artifacts",
                          "id": "apigeeregistry.projects.locations.apis.versions.artifacts.list",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32",
                              "description": "The maximum number of artifacts to return. The service may return fewer than this value. If unspecified, at most 50 values will be returned. The maximum is 1000; values above 1000 will be coerced to 1000."
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "An expression that can be used to filter the list. Filters use the Common Expression Language and can refer to all message fields except contents."
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "Required. The parent, which owns this collection of artifacts. Format: `{parent}`"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A page token, received from a previous `ListArtifacts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListArtifacts` must match the call that provided the page token."
                            },
                            "orderBy": {
                              "description": "A comma-separated list of fields, e.g. \"foo,bar\" Fields can be sorted in descending order using the \"desc\" identifier, e.g. \"foo desc,bar\"",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "ListArtifactsResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/artifacts",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Returns matching artifacts."
                        },
                        "setIamPolicy": {
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "resource"
                          ],
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/artifacts/{artifactsId}:setIamPolicy",
                          "parameters": {
                            "resource": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/artifacts/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                            }
                          },
                          "id": "apigeeregistry.projects.locations.apis.versions.artifacts.setIamPolicy",
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "response": {
                            "$ref": "Policy"
                          },
                          "path": "v1/{+resource}:setIamPolicy"
                        },
                        "testIamPermissions": {
                          "parameters": {
                            "resource": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/artifacts/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/artifacts/{artifactsId}:testIamPermissions",
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "path": "v1/{+resource}:testIamPermissions",
                          "parameterOrder": [
                            "resource"
                          ],
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "httpMethod": "POST",
                          "id": "apigeeregistry.projects.locations.apis.versions.artifacts.testIamPermissions",
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                        },
                        "getContents": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}:getContents",
                          "description": "Returns the contents of a specified artifact. If artifacts are stored with GZip compression, the default behavior is to return the artifact uncompressed (the mime_type response field indicates the exact format returned).",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/artifacts/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "Required. The name of the artifact whose contents should be retrieved. Format: `{parent}/artifacts/*`",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "id": "apigeeregistry.projects.locations.apis.versions.artifacts.getContents",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/artifacts/{artifactsId}:getContents"
                        },
                        "replaceArtifact": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/artifacts/{artifactsId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/artifacts/[^/]+$",
                              "description": "Resource name.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "Artifact"
                          },
[...]
