{{define "registry_service.proto"}}// Copyright 2020 Google LLC. All Rights Reserved.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

syntax = "proto3";

package {{.Service}}.{{.Version}};

import "{{path_for_service .Service}}/{{.Version}}/registry_models.proto";

import "google/api/annotations.proto";
import "google/api/client.proto";
import "google/api/field_behavior.proto";
import "google/api/resource.proto";
import "google/protobuf/empty.proto";
import "google/protobuf/field_mask.proto";

option java_package = "com.{{.Service}}.{{.Version}}";
option java_multiple_files = true;
option java_outer_classname = "RegistryServiceProto";
option go_package = "github.com/apigee/registry/rpc;rpc";

// The Registry service allows teams to manage descriptions of APIs.
service Registry {
  option (google.api.default_host) = "registry.googleapis.com";

  // GetStatus returns the status of the service.
  rpc GetStatus(protobuf.Empty) returns (Status) {
    option (google.api.http) = {
      get : "/{{.Version}}/status"
    };
  }
{{range .Entities}}{{template "rpcs" .}}{{end}}
}

// Response message for GetStatus.
message Status {
  // A string describing the status.
  string message = 1;
}
{{range .Entities}}{{template "messages" .}}{{end}}{{end}}

{{define "rpcs"}}
  // List{{.PluralName}} returns matching {{lower_comment .PluralName}}.{{if not .ParentName}}
  // (-- api-linter: standard-methods=disabled --)
  // (-- api-linter: core::0132::method-signature=disabled
  //     aip.dev/not-precedent: the organization is the implicit parent. --){{end}}
  rpc List{{.PluralName}}(List{{.PluralName}}Request) returns (List{{.PluralName}}Response) {
    option (google.api.http) = {
      get : "{{collection_path .ParentName .PluralName}}"
    };{{if .ParentName}}
    option (google.api.method_signature) = "parent";{{end}}
  }

  // Get{{.Name}} returns a specified {{lower_comment .Name}}.
  rpc Get{{.Name}}(Get{{.Name}}Request) returns ({{.Name}}) {
    option (google.api.http) = {
      get : "{{resource_path .ResourceName}}"
    };
    option (google.api.method_signature) = "name";
  }

  // Create{{.Name}} creates a specified {{lower_comment .Name}}.{{if not .ParentName}}
  // (-- api-linter: standard-methods=disabled --)
  // (-- api-linter: core::0133::http-uri-parent=disabled
  //     aip.dev/not-precedent: {{.Name}} has an implicit parent. --)
  // (-- api-linter: core::0133::method-signature=disabled
  //     aip.dev/not-precedent: {{.Name}} has an implicit parent. --){{end}}
  rpc Create{{.Name}}(Create{{.Name}}Request) returns ({{.Name}}) {
    option (google.api.http) = {
      post : "{{collection_path .ParentName .PluralName}}"
      body : "{{lower .Name}}"
    };{{if not .ParentName}}
    option (google.api.method_signature) = "{{lower .Name}},{{lower .Name}}_id";{{else}}
    option (google.api.method_signature) = "parent,{{lower .Name}},{{lower .Name}}_id";{{end}}
  }
{{if .HasUpdate}}
  // Update{{.Name}} can be used to modify a specified {{lower_comment .Name}}.
  rpc Update{{.Name}}(Update{{.Name}}Request) returns ({{.Name}}) {
    option (google.api.http) = {
      patch : "{{resource_path_for_update .Name .ResourceName}}"
      body : "{{lower .Name}}"
    };
    option (google.api.method_signature) = "{{lower .Name}}{{if .HasFieldMasks}},update_mask{{end}}";
  }
{{end}}
  // Delete{{.Name}} removes a specified {{lower_comment .Name}} and all of the resources that it
  // owns.
  rpc Delete{{.Name}}(Delete{{.Name}}Request) returns (google.protobuf.Empty) {
    option (google.api.http) = {
      delete : "{{resource_path .ResourceName}}"
    };
    option (google.api.method_signature) = "name";
  }
{{if .HasRevisions}}
  // Tag{{.Name}}Revision adds a tag to a specified revision of a {{lower .Name}}.
  rpc Tag{{.Name}}Revision(Tag{{.Name}}RevisionRequest) returns ({{.Name}}) {
    option (google.api.http) = {
      post: "{{resource_path .ResourceName}}:tagRevision"
      body: "*"
    };
  }
  
  // List{{.Name}}Revisions lists all revisions of a {{lower .Name}}.
  rpc List{{.Name}}Revisions(List{{.Name}}RevisionsRequest)
      returns (List{{.Name}}RevisionsResponse) {
    option (google.api.http) = {
      get: "{{resource_path .ResourceName}}:listRevisions"
    };
  }

  // List{{.Name}}RevisionTags lists all revision tags defined for a {{lower .Name}}.
  rpc List{{.Name}}RevisionTags(List{{.Name}}RevisionTagsRequest)
      returns (List{{.Name}}RevisionTagsResponse) {
    option (google.api.http) = {
      get: "{{resource_path .ResourceName}}:listRevisionTags"
    };
  }
  
  // Rollback{{.Name}} sets the current revision to a specified prior revision.
  // Note that this creates a new revision ID.
  rpc Rollback{{.Name}}(Rollback{{.Name}}Request) returns ({{.Name}}) {
    option (google.api.http) = {
      post: "{{resource_path .ResourceName}}:rollback"
      body: "*"
    };
  }
  
  // Delete{{.Name}}Revision deletes a revision of a {{lower .Name}}.
  // (-- api-linter: core::0136::http-method=disabled
  //     aip.dev/not-precedent: Deleting revisions requires the 'delete' method. --)
  // (-- api-linter: core::0135::http-uri-name=disabled
  //     aip.dev/not-precedent: The linter is missing the 'name' in the URI. --)
  rpc Delete{{.Name}}Revision(Delete{{.Name}}RevisionRequest)
      returns (google.protobuf.Empty) {
    option (google.api.http) = {
      delete: "{{resource_path .ResourceName}}:deleteRevision"
    };
    option (google.api.method_signature) = "name";
  }
{{end}}{{end}}

{{define "messages"}}
// Request message for List{{.PluralName}}.{{if not .ParentName}}
// (-- api-linter: core::0132::request-parent-required=disabled
//     aip.dev/not-precedent: the parent of {{.Name}} is implicit. --){{end}}
message List{{.PluralName}}Request {
{{if .ParentName}}  // The parent, which owns this collection of {{lower_comment .PluralName}}.
  // Format: {{.ParentName}}
  string parent = 1 [
    (google.api.field_behavior) = REQUIRED,
    (google.api.resource_reference) = {child_type: "registry.googleapis.com/{{.Name}}"}
  ];
{{end}}  // The maximum number of {{lower_comment .PluralName}} to return.
  // The service may return fewer than this value.
  // If unspecified, at most 50 values will be returned.
  // The maximum is 1000; values above 1000 will be coerced to 1000.
  int32 page_size = 2;

  // A page token, received from a previous `List{{.PluralName}}` call.
  // Provide this to retrieve the subsequent page.
  //
  // When paginating, all other parameters provided to `List{{.PluralName}}` must match
  // the call that provided the page token.
  string page_token = 3;

  // An expression that can be used to filter the list.
  string filter = 4;{{if .ViewEnumName}}

  // The level of detail to return (defaults to BASIC).
  {{.ViewEnumName}} view = 5;{{end}}{{if .ExtraRequestFields}}
{{.ExtraRequestFields}}{{end}}
}

// Response message for List{{.PluralName}}.
message List{{.PluralName}}Response {
  // The {{lower_comment .PluralName}} from the specified publisher.
  repeated {{.Name}} {{lower .PluralName}} = 1;

  // A token, which can be sent as `page_token` to retrieve the next page.
  // If this field is omitted, there are no subsequent pages.
  string next_page_token = 2;
}

// Request message for Get{{.Name}}.
message Get{{.Name}}Request {
  // The name of the {{lower_comment .Name}} to retrieve.
  // Format: {{.ResourceName}}
  string name = 1 [
    (google.api.field_behavior) = REQUIRED,
    (google.api.resource_reference) = {
      type: "registry.googleapis.com/{{.Name}}"
    }
  ];{{if .ViewEnumName}}

  // The level of detail to return (defaults to BASIC).
  {{.ViewEnumName}} view = 2;{{end}}
}

// Request message for Create{{.Name}}.{{if not .ParentName}}
// (-- api-linter: core::0133::request-parent-required=disabled
//     aip.dev/not-precedent: the parent of {{.Name}} is implicit. --){{end}}
message Create{{.Name}}Request {
{{if .ParentName}}  // The parent, which owns this collection of {{lower_comment .PluralName}}.
  // Format: {{.ParentName}}
  string parent = 1 [
    (google.api.field_behavior) = REQUIRED,
    (google.api.resource_reference) = {child_type: "registry.googleapis.com/{{.Name}}"}
  ];
{{end}}  // The {{lower_comment .Name}} to create.
  {{.Name}} {{lower .Name}} = 2 [ (google.api.field_behavior) = REQUIRED ];
  // The ID to use for the {{lower .Name}}, which will become the final component of
  // the {{lower .Name}}'s resource name.
  //
  // This value should be 4-63 characters, and valid characters
  // are /[a-z][0-9]-/.
  string {{lower .Name}}_id = 3;
}
{{if.HasUpdate}}
// Request message for Update{{.Name}}.
message Update{{.Name}}Request {
  // The {{lower_comment .Name}} to update.
  //
  // The `name` field is used to identify the {{lower_comment .Name}} to update.
  // Format: {{.ResourceName}}
  {{.Name}} {{lower .Name}} = 1 [ (google.api.field_behavior) = REQUIRED ];
{{if .HasFieldMasks}}
  // The list of fields to be updated.
  google.protobuf.FieldMask update_mask = 2;
{{end}}}
{{end}}
// Request message for Delete{{.Name}}.
message Delete{{.Name}}Request {
  // The name of the {{lower_comment .Name}} to delete.
  // Format: {{.ResourceName}}
  string name = 1 [
    (google.api.field_behavior) = REQUIRED,
    (google.api.resource_reference) = {type : "registry.googleapis.com/{{.Name}}"}
  ];
}{{if .HasRevisions}}

// Request message for Tag{{.Name}}Revision.
message Tag{{.Name}}RevisionRequest {
  // The name of the {{lower .Name}} to be tagged, including the revision ID.
  string name = 1;

  // The tag to apply.
  // The tag should be at most 40 characters, and match `[a-z][a-z0-9-]{3,39}`.
  string tag = 2;
}

// Request message for List{{.Name}}Revisions.
// (-- api-linter: core::0132::request-parent-required=disabled
//     aip.dev/not-precedent: Listing revisions does not require a parent. --)
// (-- api-linter: core::0132::request-unknown-fields=disabled
//     aip.dev/not-precedent: Listing revisions requires nonstandard fields. --)
message List{{.Name}}RevisionsRequest {
  // The name of the {{lower .Name}} to list revisions for.
  string name = 1;

  // The maximum number of revisions to return per page.
  int32 page_size = 2;

  // The page token, received from a previous List{{.Name}}Revisions call.
  // Provide this to retrieve the subsequent page.
  string page_token = 3;
}

// Response message for List{{.Name}}RevisionsResponse.
// (-- api-linter: core::0132::response-unknown-fields=disabled
//     aip.dev/not-precedent: Listing revisions requires nonstandard fields. --)
message List{{.Name}}RevisionsResponse {
  // The revisions of the {{lower .Name}}.
  repeated {{.Name}} {{lower .Name}}s = 1;

  // A token that can be sent as `page_token` to retrieve the next page.
  // If this field is omitted, there are no subsequent pages.
  string next_page_token = 2;
}

// Request message for List{{.Name}}RevisionTags.
// (-- api-linter: core::0132::request-parent-required=disabled
//     aip.dev/not-precedent: Listing revision tags does not require a parent. --)
// (-- api-linter: core::0132::request-unknown-fields=disabled
//     aip.dev/not-precedent: Listing revision tags requires nonstandard fields. --)
message List{{.Name}}RevisionTagsRequest {
  // The name of the {{lower .Name}} to list revision tags for.
  string name = 1;

  // The maximum number of revision tags to return per page.
  int32 page_size = 2;

  // The page token, received from a previous List{{.Name}}RevisionTags call.
  // Provide this to retrieve the subsequent page.
  string page_token = 3;
}

// Response message for List{{.Name}}RevisionTagsResponse.
// (-- api-linter: core::0132::response-unknown-fields=disabled
//     aip.dev/not-precedent: Listing revision tags requires nonstandard fields. --)
message List{{.Name}}RevisionTagsResponse {
  // The revisions of the {{lower .Name}}.
  repeated {{.Name}}RevisionTag tags = 1;

  // A token that can be sent as `page_token` to retrieve the next page.
  // If this field is omitted, there are no subsequent pages.
  string next_page_token = 2;
}

// Request message for Rollback{{.Name}}.
message Rollback{{.Name}}Request {
  // The {{lower .Name}} being rolled back.
  string name = 1;

  // The revision ID to roll back to.
  // It must be a revision of the same {{lower .Name}}.
  //
  //   Example: c7cfa2a8
  string revision_id = 2;
}

// Request message for Delete{{.Name}}Revision.
message Delete{{.Name}}RevisionRequest {
  // The name of the {{lower .Name}} revision to be deleted,
  // with a revision ID explicitly included.
  //
  // Example: projects/sample/apis/petstore/versions/1.0.0/{{lower .Name}}s/openapi.yaml@c7cfa2a8
  string name = 1 [
    (google.api.field_behavior) = REQUIRED,
    (google.api.resource_reference) = {type : "registry.googleapis.com/{{.Name}}"}
  ];
}{{end}}
{{end}}